
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jost", sans-serif;
}
/* styles for Rooms page starts here */
.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(0, 0, 0, .9);
}
.dropdown-item{
    font-size: 12px;
    font-weight: 500;
}
.navbar-home-mobile-icon img{
    filter: brightness(0.1);
}
.navbar-home-mobile-icon-parent p{
    color: #000;
}
.navbar-home-mobile-icon-parent {
    display: flex;
    align-items: center;
}
.navbar-home-mobile-icon-parent p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
form.d-flex.navbar-home-mobile-icon-parent-main {
    gap: 15px;
    align-items: center;
}
.SteamEdge-logo {
    height: 60px;
    width: 170px;
}
.SteamEdge-logo img{
    height:100%;
    width:100%;
    object-fit: contain;
}
.Fooer-Gallery-images {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link.active{
    font-size: 12px;
    font-weight: 600;
}
.Fooer-Gallery-images img {
    height:  100%;
    width: 100%;
    transition: all 0.3s linear;
    /* object-fit: contain; */
}
.Fooer-Gallery-images img:hover{
    transform: scale(1.2);
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding-top: 20px;
    z-index: 999;
}
.StreamEdge-Rooms-banner-title {
    height: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.navbar-background-image{
    background-image: url('/assets/images/gallery-pool.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    margin-bottom: 45px;
}

.streamedge-Footer-contact-phone {
    display: flex;
    gap: 10px;
}

.Footer-content {
    padding: 40px 0px 25px 0px;
}
.StreamEdgeFooter-gallery-parent{
    margin: 40px 0px 0px 0px;
}
.StreamEdge-Rooms-copyrights p{
    margin: 0;
    padding:20px 0px;
    color: #fff;
}
.streamedge-Footer-email-newsletter input {
    padding: 5px;
    width: 250px;
    border: 1px solid #fff;
    background: transparent;
    margin-top: 15px;
    border-radius: 4px;
    color: #fff;
}
.streamedge-Footer-email-newsletter input::placeholder{
    color: #fff;
}
.StreamEdgeFooter-parent.bg-dark hr {
    color: #fff;
    margin: 0;
    opacity: 1;
}
a{
    text-decoration: none;
}
.streamEdge-Footer-link-title{
    margin-bottom: 20px;
}
.streamedge-Footer-contact-phone .phone-icon,.streamedge-Footer-contact-phone .location-icon,.streamedge-Footer-contact-phone .email-icon{
    filter: brightness(1.5);
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    margin-top: 2px;
    }
/* styles Activities page */
.StreamEdge-Activities-resort-sub-content-image{
    height:370px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.StreamEdge-Activities-resort-sub-content-image img{
    height:100%;
    width: 100%;
    transition: all 0.3s linear;
    object-fit:fill;
}
.StreamEdge-Activities-resort-sub-content-image img:hover{
    transform: scale(1.1);
}
.StreamEdge-Activities-waterFun {
    position: absolute;
    width: 300px;
    padding: 20px;
    bottom: -125px;
    right: 77px;
    border-radius: 15px 0px 15px 15px;
    background: #fff;
}
.StreamEdge-Activities-resort-parent.container {
    background: #FDF8F8;
    padding: 30px 40px 40px 40px;
    border-radius: 10px;
}
.SStreamEdge-Activities-resort-sub-content-image-parent p{
    width: 90%;
}
.StreamEdge-Activities-resort-sub-content-image-parent{
    padding-bottom: 100px;
    margin: 50px 0px 60px 0px;
    position: relative;
}

.StreamEdge-Activities-resort-sub-content-text1{
    width: 90%;
}
.text-danger {
    color: #dc3545 !important;
    font-weight: 600;
}
.StreamEdge-Activities-waterFun .text-danger{
    font-weight: 600;
    margin-bottom: 10px;
}
.StreamEdge-Activities-waterFun h5{
    font-weight: 600;
}
.StreamEdge-Activities-resort-sub h3{
    padding: 10px 0px;
    font-weight: 600;
}
.StreamEdge-Rooms-parent .btn-danger{
    font-size: 14px;
}
.StreamEdgeFooter-gallery-parent .col-md-2{
    padding: 3px;
}
.Footer-content p{
    color: #fff;
}
    /* footer social media icons */
    .Footer-social-Media-icons{
        display: flex;
        gap: 35px;
        align-items: center;
    }
    .Footer-social-Media-icons i{
       font-size: 30px;
       color: #fff;
    }
    
.StreamEdge-Rooms-Footer-Parent {
    background: #000;
    padding-top: 12px;
    margin-top: 80px;
}
.StreamEdgeFooter-gallery-parent {
    padding: 0px 0px 40px;
}
/* media queries for activities page */

@media only screen and (max-width:575px){
    p.activities-description {
        text-align: justify;
        margin: 0;
    }
    .Fooer-Gallery-images{
        margin-bottom: 10px;
        height: 180px;
    }
    .StreamEdge-Activities-waterFun h5 {
        font-weight: 500;
        font-size: 18px;
    }
    .StreamEdgeFooter-gallery-parent{
        padding: 0;
        margin: 0;
    }
    .StreamEdge-Activities-resort-sub-content-image {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .Footer-content p {
        font-size: 14px;
    }
    .StreamEdge-Activities-waterFun {
        width: 100%;
        position: relative;
        font-size: 14px;
        top: 0;
        right:0;
        margin-bottom:5px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .StreamEdge-Activities-resort-parent.container {
        padding:5px 10px 20px 10px;
        height: fit-content;
    }
    .StreamEdge-Activities-resort-sub-content-image-parent {
        padding-bottom: 0px;
       width: 100%;
       margin: auto;
    }
    .StreamEdge-Activities-resort-sub h3 {
        padding: 10px 0px;
        font-weight: 600;
        font-size: 19px;
        text-align: center;
        margin-bottom: -3px;
    }
    .StreamEdge-Activities-waterFun .text-danger {
        margin-bottom: 4px;
        font-size: 13px;
    }
    nav.navbar.navbar-expand-lg.navbar-light {
        margin-top: -10px;
        padding-top: 0px;
    }
    .navbar-background-image {
        height: 350px;
        margin-bottom: 20px;
    }
    .StreamEdge-Rooms-banner-title{
        position: relative;
        height: 75%;
    }
    /* .StreamEdge-Rooms-banner-title{
        height: 280px;
    } */
    .StreamEdge-Rooms-copyrights p{
        font-size: 13px;
    }
    .streamEdge-Footer-link-title {
        margin-bottom: 15px;
        font-size: 22px;
    }
    .Footer-content {
        padding: 20px 0px 0px 20px;
    }
    .SteamEdge-logo {
        height: 60px;
        width: 130px;
    }
    .Footer-social-Media-icons {
        gap: 20px;
        margin-bottom: 15px;
    }
    .Footer-social-Media-icons i {
        font-size: 28px;
    }
    .StreamEdge-Rooms-Footer-Parent{
        margin-top: 0;
    }
  .navbar-input-parent{
    margin-bottom: 10px;
    width: 95%;
  }
    .StreamEdge-Activities-resort-sub-content-text1 {
        width: 100%;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .col-md-6.StreamEdge-Activities-resort-main-parent {
        padding: 0;
    }
}
@media screen and (max-width:767px){
    .Footer-content .row .col-sm-12.col-md-2{
        width: 45%;
        margin: 20px 0px;
    }
    .Footer-content .row div:nth-child(3){
        order: 3;
    }
    .Footer-content .row .col-sm-8.col-md-3:last-child{
       
        width: 45%;
        margin: 20px 0px;
    }
}

@media only screen and (min-width:576px) and (max-width:767px){
    
    .Fooer-Gallery-images{
        margin-bottom: 10px;
        height: 190px;
    }
    /* .col-6.col-sm-6.col-md-2{
        padding: 0;
        width: 45%;
        margin: 0px 4px 0px 9px;
    } */
    .StreamEdge-Activities-resort-sub-content-image {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .Footer-content p {
        color: gray;
        font-size: 14px;
    }

    .StreamEdge-Activities-waterFun {
        width: 100%;
        position: relative;
        font-size: 14px;
        top: 0;
        right:0;
        margin-bottom: 10px;
        text-align: center;
        padding: 20px 10px;
    }
    .StreamEdge-Activities-resort-parent.container {
        padding: 30px 20px 20px 20px;
        height: fit-content;
    }
    .StreamEdge-Activities-resort-sub-content-image-parent {
        padding-bottom: 0px;
       width: 100%;
       margin: auto;
    }
    .StreamEdge-Activities-resort-sub h3 {
        padding: 10px 0px;
        font-weight: 600;
        font-size: 19px;
    }
    nav.navbar.navbar-expand-lg.navbar-light {
        margin-top: -10px;
        padding-top: 0px;
    }
    .navbar-background-image {
        height: 350px;
        margin-bottom: 20px;
    }
    /* .StreamEdge-Rooms-banner-title{
        height: 280px;
    } */
    .StreamEdge-Rooms-banner-title{
        position: relative;
        height: 75%;
    }
    form.d-flex.navbar-input-parent {
    margin-bottom: 10px;
    width: 430px;
}
    .StreamEdge-Rooms-copyrights p{
        font-size: 13px;
    }
    .streamEdge-Footer-link-title {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .Footer-content {
        padding: 20px 0px 0px 0px;
    }
    .SteamEdge-logo {
        height: 60px;
        width: 130px;
    }
    .StreamEdge-Activities-resort-sub-content-text1 {
        width: 100%;
        margin-bottom: 26px;
    }
    .col-md-6.StreamEdge-Activities-resort-main-parent {
        padding: 0;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .Fooer-Gallery-images{
        height: 170px;
    }
    .StreamEdge-Rooms-Footer-Parent {
        margin-top: 40px;
    }
    .StreamEdge-Activities-resort-parent.container {
        padding: 30px 15px 40px 15px;
    }
    .StreamEdge-Activities-resort-sub-content-image {
        height: 320px;
        width: 100%;
    }
    .StreamEdge-Rooms-banner-title{
        position: relative;
        height: 50%;
    }
    .StreamEdge-Activities-waterFun{
        bottom: -80px;
        right: 0;
        width: 250px;
        font-size: 14px;
        padding: 15px;
    }
    .streamEdge-Footer-link-title{
        font-size: 18px;
    }
    .navbar-input-parent{
        margin-bottom: 10px;
        width: 450px;
      }
      .col-6.col-sm-4.col-md-2{
        width: 15.66667%;
        margin-right: 7px;
        padding: 0;
      }
}
@media only screen and (min-width:992px) and (max-width:1199px){
    .StreamEdge-Activities-waterFun{
        right: 64px;
    }
}
