@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
}

.streamedge-Footer-contact-phone .phone-icon,
.streamedge-Footer-contact-phone .location-icon,
.streamedge-Footer-contact-phone .email-icon {
    filter: brightness(1.5);
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    margin-top: 2px;
}


.SteamEdge-logo {
    height: 60px;
    width: 170px;
}

.SteamEdge-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar-light .navbar-nav .nav-link.active {
    font-size: 12px;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
}

nav.navbar.navbar-expand-lg.navbar-light {
    display: flex;
    justify-content: center;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 9999;
    background: #f8f9fa;
    padding: 6px 0px;
}

/* Styles for Footer - rooms page starts here */
.streamedge-Footer-contact-phone {
    display: flex;
    gap: 10px;
}

.Footer-content p {
    color: gray;
}

.StreamEdge-Rooms-service-categories-parent.container {
    background: #FDF8F8;
    margin: auto;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
}

.StreamEdgeFooter-gallery-parent {
    margin: 40px 0px 0px 0px;
}

.StreamEdge-Rooms-copyrights p {
    margin: 0;
    padding: 20px 0px;
    color: rgb(168, 167, 167);
}

.streamedge-Footer-email-newsletter input {
    padding: 5px;
    width: 250px;
    border: 1px solid grey;
    background: transparent;
    margin-top: 15px;
    border-radius: 4px;
}

hr {
    color: lightgrey;
    margin: 0;
}

.streamEdge-Footer-link-title {
    margin-bottom: 20px;
}

.Footer-content {
    padding: 40px 0px 25px 0px;
}

.Fooer-Gallery-images {
    height: 140px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.Fooer-Gallery-images img {
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
}

.Fooer-Gallery-images img:hover {
    transform: scale(1.2);
}

.Footer-content p {
    color: #fff;
}

a {
    text-decoration: none;
}

/* Styles for Footer - rooms page Ends here */
/* Styles for Footer - rooms page starts here */
.streamedge-Footer-contact-phone .phone-icon,
.streamedge-Footer-contact-phone .location-icon,
.streamedge-Footer-contact-phone .email-icon {
    filter: brightness(1.5);
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    margin-top: 2px;
}

.streamedge-Footer-contact-phone {
    display: flex;
    gap: 10px;
}


.StreamEdge-Rooms-service-categories-parent.container {
    background: #FDF8F8;
    margin: auto;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
}

.StreamEdgeFooter-gallery-parent {
    margin: 35px 0px;
}

.StreamEdge-Rooms-copyrights p {
    margin: 0;
    padding: 20px 0px;
    color:#fff;
}

.stream-edge-map-subparent .row {
    margin: 60px 0;
}

.streamedge-Footer-email-newsletter input::placeholder {
    color: #fff;
}

.streamedge-Footer-email-newsletter input {
    padding: 5px;
    width: 250px;
    border: 1px solid #fff;
    background: transparent;
    margin-top: 15px;
    border-radius: 4px;
    color: #fff;
}

hr {
    color:#fff;
    opacity: 1;
    margin: 0;
}

.streamEdge-Footer-link-title {
    margin-bottom: 20px;
}

.Footer-content {
    padding: 40px 0px 25px 0px;
}

.Fooer-Gallery-images {
    height: 160px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.Fooer-Gallery-images img {
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
}

.Fooer-Gallery-images img:hover {
    transform: scale(1.2);
}

.StreamEdge-Rooms-Footer-Parent {
    /* background: #000; */
    padding-top: 12px;
    margin-top: -7px;
}
.blog-details-content{
    padding: 45px 0 20px 0;
}
.navbar-background-image {
    background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 30%)),url('./assets/images/streamedge-aboutus1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    position: relative;
}
.absolute-image-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 100%;
}
.absolute-image-text h3{
color: white;
text-align: center;
font-size: 40px;
width: 60%;
}
.blog-details-content h3 {
    color: var(--Black, #232536);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    width: 75%;
    padding: 25px 0;
}
.blog-details-content-sub ol li p strong{
    font-weight: 600;
}
.blog-details-content-sub{
    padding: 5px 0;
}
.blog-details-content-sub h5 {
    color: var(--Black, #232536);
    font-size: 26px;
    font-weight: 500;
    line-height: 48px;
    width: 70%;
}
.blog-details-lorem li{
    font-weight: 500;
    line-height: 20px;
    padding: 5px 0;
    font-size: 18px;
}
.width-blog-content{
    width: 80%;
    margin: auto;
}
.navbar-home-mobile-icon-parent {
    display: flex;
    align-items: center;
}

.navbar-home-mobile-icon-parent p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.navbar-home-mobile-icon img {
    filter: brightness(0.5);
}

form.d-flex.navbar-home-mobile-icon-parent-main {
    gap: 15px;
    align-items: center;
}

form.d-flex.navbar-home-mobile-icon-parent-main button {
    font-size: 14px;
}
@media only screen and (max-width:767px) { .Footer-content .row .col-sm-12.col-md-2{
        width: 45%;
        margin: 20px 0px;
    }
    .Footer-content .row div:nth-child(3){
        order: 3;
    }
    .Footer-content .row .col-sm-8.col-md-3:last-child{
       
        width: 45%;
        margin: 20px 0px;
    }
    .absolute-image-text h3{
        width: 90%;
        font-size: 25px;
    }
    .StreamEdge-Rooms-Footer-Parent{
        padding-top: 0;
    }
    .blog-details-content-sub ol li p{
        text-align: justify;
    }
    .blog-details-content{
        padding: 10px 0 0px 0;
    }
    .Footer-content {
        padding: 20px 0px 0px 0px;
    }
    .Fooer-Gallery-images {
        height: 165px;
        padding-bottom: 15px !important;
    }
    form.d-flex.navbar-home-mobile-icon-parent-main {
        margin-bottom: 10px;
    }
    .absolute-image-text{
        height: 320px;
    }
    .width-blog-content{
        width: 94%;
    }
    .blog-details-content p{
        text-align: justify;
    }
    .navbar-background-image {
        height: 390px;
    }
    .blog-details-content h3{
        width: 95%;
        line-height: 45px;
        font-size: 26px;
    }
    .blog-details-sub-parent .row{
        padding: 12px 10px;

    }
    .blog-details-content-sub{
        padding:  0;
    }
    .blog-details-content-sub h5{
        font-size: 20px;
        line-height: 35px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .absolute-image-text h3{
        width: 80%;
        font-size: 27px;
    }
    .StreamEdge-Rooms-Footer-Parent{
        padding-top: 0;
    }
    .blog-details-content-sub ol li p{
        text-align: justify;
    }
    .blog-details-content{
        padding: 10px 0 0px 0;
    }
    .Footer-content {
        padding: 20px 0px 0px 0px;
    }
    .Fooer-Gallery-images {
        height: 175px;
        padding-bottom: 15px !important;
    }
    form.d-flex.navbar-home-mobile-icon-parent-main {
        margin-bottom: 10px;
    }
    .absolute-image-text{
        height: 320px;
    }
    .width-blog-content{
        width: 94%;
    }
    .blog-details-content p{
        text-align: justify;
    }
    .navbar-background-image {
        height: 390px;
    }
    .blog-details-content h3{
        width: 95%;
        line-height: 45px;
        font-size: 26px;
    }
    .blog-details-sub-parent .row{
        padding: 12px 10px;

    }
    .blog-details-content-sub{
        padding:  0;
    }
    .blog-details-content-sub h5{
        font-size: 20px;
        line-height: 35px;
    }
}
@media only screen and (min-width:992px) and (max-width: 1200px) {
    .absolute-image-text h3{
        width: 75%;
        font-size: 29px;
    }
    .navbar-background-image {
        height: 400px;
    }
    .absolute-image-text{
        height: 360px;
    }
    .blog-details-content{
        padding: 20px 0 5px 0;
    }
    .blog-details-content p{
        text-align: justify;
    }
    .blog-details-content-sub h5{
        font-size: 22px;
        line-height: 30px;
    }
}
div#image-gallery {
    padding-bottom: 50px;
  }
      /* footer social media icons */
      .Footer-social-Media-icons{
        display: flex;
        gap: 35px;
        align-items: center;
    }
    .Footer-social-Media-icons a i{
       font-size: 30px;
       color: #fff;
    }