body {
    font-family: "Jost", sans-serif;
}

.eleven-Footer-contact-phone .phone-icon,
.eleven-Footer-contact-phone .location-icon,
.eleven-Footer-contact-phone .email-icon {
    filter: brightness(1.5);
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    margin-top: 2px;
}

a {
    text-decoration: none;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .9);
}

.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

/* styles for Rooms page starts here */
.navbar-home-mobile-icon img {
    filter: brightness(0.1);
}

.navbar-home-mobile-icon-parent p {
    color: #000;
}

.eleven-logo {
    height: 60px;
    width: 170px;
}

.eleven-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar-background-image {
    background: linear-gradient(rgb(0 0 0 / 77%), rgb(0 0 0 / 35%)), url(../images/eleven/eleven-car-lady.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 45px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding-top: 20px;
}

.eleven-Rooms-banner-title h1 {
    font-size: 50px;
    font-weight: 500;
}

.eleven-Rooms-banner-title {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
    font-size: 12px;
    font-weight: 600;
}

.eleven-map-subparent {
    width: 90%;
    margin: auto;
}

.eleven-contact-message .contactus-eleven {
    display: flex !important;
    align-items: start !important;
    justify-content: start;
    padding: 0px 15px;
}

.contactus-eleven h6 {
    width: 90px;
    margin: 6px 0;
    font-size: 17px;
    font-weight: 500;
}

.contactus-eleven h6:hover {
    color: #6b6a6a;
}

.contact-info-address {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.contactus-eleven p {
    width: 260px;
    margin: 6px 0;
    font-size: 15px;
    font-weight: 400;
}

.contactus-eleven a {
    width: 260px;
    margin: 6px 0;
    font-size: 15px;
    font-weight: 400;
    color: #373737;
}

.contactus-eleven a:hover {
    color: #dc3545;
}

.contactus-eleven p:hover {
    color: #dc3545;
}

.contact-iamge-eleven {
    width: 100%;
    height: 232px;
    position: relative;
    top: 16%;
}

.eleven-hr-center {
    color: #dc3545;
    opacity: 0.7;

}

.contact-iamge-eleven img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Banner styles ends here */
/* Styles for Footer - rooms page starts here */
.eleven-Footer-contact-phone {
    display: flex;
    gap: 10px;
}

.Footer-content p {
    color: #fff;
}

.eleven-Rooms-service-categories-parent.container {
    background: #FDF8F8;
    margin: auto;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
}

.eleven-Footer-gallery-parent {
    margin: 35px 0px 0px 0px;
}

.eleven-Rooms-copyrights p {
    margin: 0;
    padding: 20px 0px;
    color:#fff;
}

.eleven-map-subparent .row {
    margin: 60px 0;
}

.eleven-Footer-email-newsletter input {
    padding: 5px;
    width: 250px;
    border: 1px solid #fff;
    background: transparent;
    margin-top: 15px;
    border-radius: 4px;
    color: #fff;
}

.eleven-Footer-email-newsletter input::placeholder {
    color: #fff;
}

hr {
    color: #fff;
    opacity: 1;
    margin: 0;
}

.eleven-Footer-link-title {
    margin-bottom: 20px;
}

.Footer-content {
    padding: 40px 0px 25px 0px;
}

.Fooer-Gallery-images {
    height: 140px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.Fooer-Gallery-images img {
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
}

.Fooer-Gallery-images img:hover {
    transform: scale(1.2);
}

.eleven-Rooms-Footer-Parent {
    background: #000;
    padding-top: 12px;
    margin-top: -7px;
}

.heading-location-busy h5 {
    color: #dc3545;
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
}

.navbar-home-mobile-icon-parent {
    display: flex;
    align-items: center;
}

.navbar-home-mobile-icon-parent p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.navbar-home-mobile-icon img {
    filter: brightness(0.5);
}

form.d-flex.navbar-home-mobile-icon-parent-main {
    gap: 15px;
    align-items: center;
}

form.d-flex.navbar-home-mobile-icon-parent-main button {
    font-size: 14px;
}

.eleven-contact-message {
    padding: 36px 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.Fooer-Gallery-images img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all 0.3s linear;
    /* object-fit: contain; */
}

.Fooer-Gallery-images img:hover {
    transform: scale(1.2);
}

/* footer social media icons */
.Footer-social-Media-icons {
    display: flex;
    gap: 35px;
    align-items: center;
}

.Footer-social-Media-icons i {
    font-size: 30px;
    color: #fff;
}

@media only screen and (max-width:767px) { .Footer-content .row .col-sm-12.col-md-2{
        width: 45%;
        margin: 20px 0px;
    }
    .Footer-content .row div:nth-child(3){
        order: 3;
    }
    .Footer-content .row .col-sm-8.col-md-3:last-child{
       
        width: 45%;
        margin: 20px 0px;
    }
    
    .eleven-Rooms-banner-title h1 {
        font-size: 36px;
    }

    .eleven-map-subparent .row {
        margin: 20px 0;
    }

    .heading-location-busy h5 {
        font-size: 22px;
    }

    .contactus-eleven h6 {
        font-size: 14px;
        width: 66px;
    }

    .eleven-contact-message .contactus-eleven {
        padding: 0 4px;
    }

    .contactus-eleven p {
        font-size: 13px;
    }

    .eleven-contact-message {
        padding: 21px 5px;
    }

    .contact-iamge-eleven {
        width: 100%;
        padding: 15px 0;
        top: 0px;
    }

    .navbar-background-image {
        margin-bottom: 24px;
        height: 330px;
    }


    .eleven-iframe iframe {
        height: 290px !important;
    }

    .Fooer-Gallery-images {
        height: 165px;
        padding-bottom: 15px !important;
    }

    .eleven-Rooms-copyrights p {
        font-size: 13px;
    }

    .eleven-Footer-link-title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .Footer-content {
        padding: 20px 0px 0px 0px;
    }

    form.d-flex.navbar-home-mobile-icon-parent-main {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:576px) {
    .eleven-map-subparent {
        width: 100%;
    }
    .eleven-Footer-link-title {
        margin-bottom: 15px;
        font-size: 22px;
      }
      .Footer-content p {
        font-size: 14px;
    }
    .Footer-social-Media-icons {
        gap: 20px;
        margin-bottom: 15px;
    }
    .Footer-social-Media-icons i {
        font-size: 28px;
    }
      .Footer-content {
        padding: 20px 0px 0px 20px;
      }
    form.d-flex.navbar-home-mobile-icon-parent-main {
        margin-bottom: 10px;
    }

    /* .eleven-contact-message {
        padding: 21px 13px;
    } */
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .eleven-Rooms-copyrights p {
        font-size: 15px;
        color: #fff;
    }
    .eleven-Footer-link-title{
        font-size: 18px;
    }
    .Footer-social-Media-icons {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .Footer-social-Media-icons i {
        font-size: 28px;
    }

    .Footer-content p {
        font-size: 14px;
    }

    .eleven-map-subparent {
        width: 95%;
    }

    form.d-flex.navbar-home-mobile-icon-parent-main {
        margin-bottom: 10px;
    }

    .heading-location-busy h5 {
        font-size: 26px;
    }

    .eleven-contact-message {
        padding: 30px 15px;
    }

    .contactus-eleven h6 {
        font-size: 15px;
    }

    .contactus-eleven p {
        font-size: 13px;
    }

    .contact-iamge-eleven {
        height: 209px;
        width: 95%;
    }

    .eleven-iframe iframe {
        height: 310px !important;
    }
}

.eleven-Rooms-Footer-Parent {
    background: #000;
    padding-top: 12px;
    margin-top: 80px;
}

.eleven-Footer-gallery-parent {
    padding: 40px 0px 40px;
}
